* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#frame {
    border: 1px solid red;

    width: 50rem;
    height: 50rem;
    margin: auto;
    
}

#frame-container {
    width: inherit;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
}

.cell.grid-active {
    border: 1px solid lightgray;
}

.cell:hover {
    border: 1px solid blue;
}

@media (max-width: 767.98px) {
    #frame {
        width: 30rem;
        height: 30rem;
    }
}
