* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s;
}

:root {
    --wall-color: #f5f3ef;
    --frame-color: #6e4e2e;
    --canvas-color: #ffffff;
    --text-color: #1f2937;
    --accent-color: #4f46e5;
    --text-font: “Inter”, ui-sans-serif, system-ui;
}

body {
    font-family: var(--text-font);
    color: var(--text-color);
}

#container {
    background-color: var(--wall-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#tools {
    padding: 1rem;
}

#tools-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.tool {
    cursor: pointer;
    color: var(--text-color);
    font-size: 1rem;
    background-color: var(--canvas-color);
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.13);
    padding: 1rem 2rem;
}

.tool.alt {
    color: var(--canvas-color);
    background-color: var(--accent-color);
}

.tool:hover {
    transform: scale(1.1);
}

.tool > input[type="number"] {
    font-size: 1rem;
    border: 1px solid lightgray;
    border-radius: .5rem;
    padding: .5rem;
}

#frame {
    flex-direction: 1;
    width: 60rem;
    height: 60rem;
    margin: auto;
}

#frame-container {
    background-color: var(--canvas-color);
    border: 2rem solid var(--frame-color);
    border-radius: 1rem;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.233);
    width: inherit;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
}

.cell.grid-active {
    border: 1px solid rgb(236, 236, 236);
}

.cell:hover {
    border: 1px solid blue;
}

footer {
    text-align: center;
}

@media (max-width: 767.98px) {
    #frame {
        width: 30rem;
        height: 30rem;
    }
}
